.about-us-content {
    background-color: #f9f9f9;
    max-width: 800px;
    height: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333; 
}

.Overview,
.Contacts, 
.Members,
.Credits {
    color: #333;
    background-color: #d8d8d8;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.help-content h1,
.help-content h2 {
    margin-top: 0; 
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.help-content p {
    margin-bottom: 15px;
}

.help-content .FAQ {
    margin-bottom: 30px;
}

.help-content .Contacts {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.help-content ul {
    list-style: none;
    padding-left: 0;
}

.help-content ul li {
    margin-bottom: 10px;
}

.help-content ul li strong {
    letter-spacing: 1px;
    margin-bottom: 10px;
}