.about-us-content {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: black;
}

.about-us-content h1,
.about-us-content h2 {
    text-align: center;
}

.Overview, 
.Members,
.Credits {
    color: #333;
    background-color: #d8d8d8;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text */
}

.Overview h2,
.Members h2,
.Credits h2 {
    margin-top: 0; 
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.Overview p,
.Members p,
.Credits p {
    margin-bottom: 15px;
}

.Overview .FAQ,
.Members .FAQ,
.Credits .FAQ {
    margin-bottom: 30px;
}

.Overview .Contacts,
.Members .Contacts,
.Credits .Contacts {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.Overview ul,
.Members ul,
.Credits ul {
    list-style: none;
    padding-left: 0;
}

.Overview ul li,
.Members ul li,
.Credits ul li {
    margin-bottom: 10px;
}

.Overview ul li strong,
.Members ul li strong,
.Credits ul li strong {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.Overview img {
    height: 300px;
}

.Credits img {
    height: 300px;
}