#center-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#create-post {
    width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#create-post form {
    display: flex;
    flex-direction: column;
}

#create-post h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#create-post input[type="text"],
#create-post select,
#create-post textarea,
#create-post input[type="date"],
#create-post input[type="submit"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#create-post textarea {
    height: 300px;
}

.post-form-bottom {
    display: flex;
    justify-content: center; /* Center the button */
}

#create-post input[type="submit"] {
    margin-top: 20px;
    background-color: red;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px 30px; 
    font-size: 18px; 
    color: white;
    border-radius: 25px; 
    text-transform: uppercase; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#create-post input[type="submit"]:hover {
    background-color: rgb(110, 7, 7);
}
