@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    user-select: none;
}

a:link {
    text-decoration: none!important;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: black;
}

.logo-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

header {
    height: auto;
    background-color: black;
}

nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: -1px;
    background-color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom-color: rgba(255, 0, 0, 0.9);;
    border-bottom-style: solid;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.menu a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.movies {
    float: left;
    overflow: hidden;
}

.movies .moviesbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 20px;
    font-size: 20px;
}

.movies-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1002;
}

.movies-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: none;
    font-size: 14px;
}

.movies-content a:hover {
    background-color: gray;
}

.movies:hover .movies-content {
    display: block;
}

nav .menu a:hover,
.movies:hover .moviesbtn {
    background-color: rgba(100, 0, 0, 0.90);
}

.buttons {
    display: flex;
    padding: 0 30px;
    text-decoration: none;
}

.button:hover {
    background-color: none;
}

.search {
    position: relative;
}

.search-bar {
    margin-top: 10px;
    height: 25px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none;
    padding-left: 8px;
    padding-right: 30px;
}

.search-submit {
    background: url(../Media/Search.png) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 28px;
    width: 28px;
    transform: translate(0%, 36%);
    text-indent: -9999px;
  }

.search-submit:hover {
    background: url(../Media/SearchHover.png) no-repeat
}
  

.plus-icon,
.person-icon,
.setting-icon,
.close-icon{
    width: 24px;
    height: 24px;
    margin: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.plus-icon {
    background-image: url("../Media/Plus.png");
}

.plus-icon:hover {
    background-image: url("../Media/PlusHover.png");
}

.person-icon {
    background-image: url("../Media/Account.png");
}

.person-icon:hover {
    background-image: url("../Media/AccountHover.png");
}

.signup {
    color: white;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.signup:hover {
    color: red;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    display: flex;
    background-color: black;
    color: hsla(0, 0%, 100%, 0.662);  
    height: 200px; 
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top-color: rgba(255, 0, 0, 0.9);;
    border-top-style: solid;
}

footer h3 {
    text-align: center;
    letter-spacing: 2px;
    color: red;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;

}

footer h3{
    font-size: 20px;
}

.left_ul {
    margin-left: 30px;
}

.right_ul {
    padding-right: 90px;
}

.left_pillar {
    flex: 25%;
}

.center_pillar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_media {
    margin-bottom: 10px;
}

.social_icons ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.social_icons ul li {
    margin: 0 5px; 
}

.social_icons ul li i {
    font-size: 24px; 
    padding: 8px;
}

.right_pillar {
    flex: 25%;
}

.review-section {
    padding: 15px;
}

main {
    background-color: #141414;
}