.forums-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: black;
}

.forum-header {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.forum-header h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.forum-header p {
    font-size: 1.2em;
    color: #666;
}

h2 {
    font-size: 1.8em;
    color: #333; 
    margin-bottom: 10px;
}

.general-discussion,
.movies-discussion,
.tv-shows-discussion {
    color: #333;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.general-discussion h3,
.movies-discussion h3,
.tv-shows-discussion h3 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.general-discussion p,
.movies-discussion p,
.tv-shows-discussion p {
    font-size: 1em;
    margin-bottom: 0;
}

.post {
    color: #333;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date {
    font-style: italic;
    font-size: 10ch;
}

