a {
    color: black;
}

.forums-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: black;
    border: 5px solid black;
}

.forum-header {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.forum-header h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.forum-header p {
    font-size: 1.2em;
    color: #666;
}

.forum-section {
    margin-bottom: 40px;
}

.forum-section h2 {
    font-size: 1.8em;
    color: #333; 
    margin-bottom: 10px;
}

.gen-discussion {
    color: #333;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gen-discussion h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.gen-discussion p {
    font-size: 1em;
    margin-bottom: 0;
}

.movies-discussion {
    color: #333;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movies-discussion h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.movies-discussion p {
    font-size: 1em;
    margin-bottom: 0;
}

.tv-shows-discussion {
    color: #333;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tv-shows-discussion h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.tv-shows-discussion p {
    font-size: 1em;
    margin-bottom: 0;
}