.help-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
     height: 800px;
    display: flex;
    flex-direction: column;
}
  
h1, h2 {
    padding-top: 50px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
}
  
p {
    margin-bottom: 15px;
}
  
.FAQ {
    margin-bottom: 30px;
}
  
.Contacts {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.FAQ ul,
.Contacts ul {
    list-style: none;
}
  
.FAQ ul li,
.Contacts ul li {
    margin-bottom: 10px;
}

.FAQ ul li strong,
.Contacts ul li  strong{
    letter-spacing: 1px;
    margin-bottom: 10px;
}
