.movie, .show {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.5px;
}

.movie:hover, .show:hover {
    display: flex;
    align-items: center;
    border: 1px solid yellow;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.5px;
}

main a {
    color: white;
}

.movie img, .show img{
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.movie img:hover, .show img:hover {
    cursor: pointer;
}


.movie-info {
    flex: 1;
}

.movie h2, .show h2 {
    margin-bottom: 8px;
    font-size: 30px;
}

.movie-title:hover {
    cursor: pointer;
}

.movie p, .show p {
    margin-bottom: 5px;
    font-size: 0.9em;
    line-height: 1.2;
}

.movie p strong, .show p strong {
    font-weight: bold;
    letter-spacing: 1px;
}

.signup {
    color: white;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.signup:hover {
    color: red;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}