/* Design for posts container */
.posts-container {
    margin: 20px auto;
    width: 80%;
}

/* Design for individual post */
.post {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.post h1 {
    margin-bottom: 10px;
}

.post h2 {
    margin-bottom: 15px;
}

.post .date {
    font-style: italic;
    color: #888;
}

.text-container {
    background-color: #cccccc;
    margin-top: 15px;
    border-radius: 5px;
}

.text-container p {
    line-height: 1.6;
}
