.posts-container {
    margin: 20px auto;
    width: 1000px;
}

.post {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.post h1 {
    color: red;
    text-decoration: none;
    margin-bottom: 10px;
}

.post h2 {
}

.post .date {
    font-style: italic;
    color: #888;
}

hr {
    margin-top: 20px ;
    margin-bottom: 20px ;
}

.text-container {
    background-color: #cccccc;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
}

.text-container p {
    line-height: 1.6;
}
