@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    letter-spacing: 2px;
    font-family: fantasy; 
    margin: 0;
}
nav {
    top: -1px;  
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    font-size: 20px;
    border-bottom-color: rgba(255, 0, 0, 0.9);;
    border-bottom-style: solid;
    z-index: 2;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

body {
    background-color: #141414;
}
nav a:hover,
.movies:hover .moviesbtn {
    background-color: rgba(100, 0, 0, 0.90);
}

.signup {
    color: white;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.signup:hover {
    color: red;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.account-content {
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1em;
    
}

.line-divider {
    border-top: 1px solid white; 
    margin: 20px 0; 
}

.content-container {
    display: flex;
    font-size: 15px;
}

.profile-picture {
    opacity: 1;
    display: block;
    width: 100px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 1;
} 

.profile-container{
    position: relative;
    height: 100px;
    width: 100px; 
    
}

.profile-transition {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.edit-prompt {
    color:white;
    font-size: 16px;
    padding: 16px 32px;
}

.profile-container:hover .profile-picture{
    opacity: 0.3;
}

.profile-container:hover .profile-transition{
    opacity: 1;
}

.profile-details {
    width: 100%;
}

.username-container {
    align-items: center;
    font-size: 20px;
    height: 50%;
    width: 100%;
    margin-left: 10px;
    display: flex;
}

.username-label {
    width: 33%;
    font-weight: bold;
}

.username {
    width: 33%;
    font-weight: lighter;
}

.change-username {
    width: 33%;
    text-align: right;
    color:#0073E6;
}

.password-container {
    align-items: center;
    font-size: 20px;
    height: 50%;
    width: 100%;
    margin-left: 10px;
    display: flex;
}  

.password-label {
    width: 33%;
    font-size: 20px;
    font-weight: bold;
}

.password{
    width:33%;
    font-weight: lighter;
}

.change-password {
    width: 33%;
    text-align: right;
    color: #0073E6;
}

.change-username:hover {
    text-decoration: underline;
    color:#0A58A6;
}

.change-password:hover {
    text-decoration: underline;
    color:#0A58A6;
}

.setting-icon2,
.close-icon2 {
    height: 24px;
    width: 24px;
}

.favorite-header,
.reviewed-header {
    color: white;
    margin-bottom: 10px;
}

.favorite-movies,
.reviewed-movies {
    display: flex;
    justify-content: left;
}
.favorite-container ul,
.reviewed-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.favorite-container li,
.reviewed-container li {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;
}

.favorite-container li:hover {
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    margin-right: 10px;
}

.favorite-container img,
.temp-class img {
    height: 225px;
    width: 150px;
    border-radius: 10px;
}

.review-modal {
    --gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.5);
}

.review-content-container {
    background: #141414;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 4px;
    padding: 20px; 
    color: white 
}

.review-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.review-title{
    flex-grow: 1;
}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.modal-content {
    background-color: #141414; 
    border-radius: 5px;
    padding: 10px;
    width: 500px; 
    height: 220px;
    color: white; 
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;;
}

.modal-content h2{
    margin-bottom: 10px;
}

.modal-content input[type="file"] {
    width: 80%; 
    font-size: 12px; 
    margin-top: 10px;
    margin-bottom: 30px;
}

.modal-content input[type="text"] {
    width: 80%;
    padding: 10px; 
    font-size: 12px; 
    margin-bottom: 16px;
}

.modal-content input[type="password"] {
    width: 80%; 
    padding: 6px; 
    font-size: 12px; 
    margin-bottom: 12px;
}


.modal-content button {
    width: 50px;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}