<!DOCTYPE HTML>
<html>
<head>
    <title>Post | NetBoxD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../CSS/Design.css" rel="stylesheet">
    <link href="../CSS/Post.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../JS/Post.js"></script>
</head>

<body>
    <div class="forums-container">
        <div class="post">
            <h3><%= post.post_title %></h3>
            <p><%= post.post_content %></p>
            <p class="date">Posted on <%= post.post_date.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' }) %></p>
        </div>
    </div>
</body>
</html>