<!DOCTYPE html>
<html>
<head> 
    <title>Sign up | Netboxd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/Signup.css">
</head>
<body>
    <div class="container">
        <div class="left_container">
            <img src="../Media/signlogo.png" alt="Logo">
        </div>

        <div class="right_container">
            <div class="top_pillar">
                <a href="../HTML/index.html"> <img src="../Media/Netboxd.png"> </a>
                <h1>Sign up for Netboxd</h1>
            </div>

            <div class="middle_pillar">
                <form action="/Login" method="post" name="signup">
                    <label for="yourEmail">Email Address:</label><br>
                    <input type="email" id="yourEmail" name="yourEmail" required autocomplete="off"><br><br>
                    <label for="yourUser">Username:</label><br>
                    <input type="text" id="yourUser" name="yourUser" required autocomplete="off"><br><br>
                    <label for="yourPass">Password:</label><br>
                    <input type="password" id="yourPass" name="yourPass" required autocomplete="off"><br><br>
                    <label for="yourPass">Re-enter Password:</label><br>
                    <input type="password" id="rePass" name="rePass" required autocomplete="off"><br><br><br>
                     <input type="submit" value="Create Account"> 
                </form>
            </div>
            
            <div class="bottom_pillar">
                <p>Already have an account? <a href="/Login">Log in</a></p>
            </div>
        </div>
    </div>
</body>
</html>